.hero-section 
{
    width: 1130px;
    height: 433px;
    margin: 0 auto;
    display: flex;
    gap: 153px;
    align-items: center;
}


.hero-section__content 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.hero-section__title 
{
    font-family: Fraunces;
    font-weight: 400;
    font-size: 58px;
    line-height: 110%;
    color: #1f1f1f;
    padding-bottom: 21px;
}


.hero-section__text 
{
    font-family: inter ;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    padding-bottom: 32px;
}


.hero-section__actions 
{
    display: flex;
    gap: 24px;
    align-items: center;
}


.hero-section__button 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 43px;
    font-family: inter ;
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    letter-spacing: 0.01em;
    color: #fff;
    background: #0070a0;
    border: none;
    text-decoration: none;
}

.hero-section__link 
{
    display: flex;
    gap: 6px;
    align-items: center;
}

.hero-section__link a 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 43px;
    font-family: inter ;
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    letter-spacing: 0.01em;
    color: #0070a0;
    text-decoration: none;
}


.hero-section__image img 
{
    max-width: 100%;
    display: block;
}